AdministradorUsuariosUN/src/conf/xml-resources/web-service-references/DeleteMedicalRecord/wsdl/localhost_8080/DeleteMedicalRecord/DeleteMedicalRecord.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://fachadews/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://fachadews/">

<xs:element name="deleteMedicalRecord" type="tns:deleteMedicalRecord"/>

<xs:element name="deleteMedicalRecordResponse" type="tns:deleteMedicalRecordResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="deleteMedicalRecord">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteMedicalRecordResponse">
<xs:sequence>
<xs:element name="return" type="tns:processResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="processResult">
<xs:restriction base="xs:string">
<xs:enumeration value="ERROR"/>
<xs:enumeration value="COMPLETED"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>