AdministradorUsuariosUN/src/conf/wsdl/localhost_8080/GetMedicalRecord/GetMedicalRecord.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://fachadews/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://fachadews/">

<xs:element name="getMedicalRecord" type="tns:getMedicalRecord"/>

<xs:element name="getMedicalRecordResponse" type="tns:getMedicalRecordResponse"/>

<xs:complexType name="getMedicalRecord">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMedicalRecordResponse">
<xs:sequence>
<xs:element name="return" type="tns:medicalRecord" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="medicalRecord">
<xs:sequence>
<xs:element name="citas" type="tns:appointment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="idHistoria" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="appointment">
<xs:sequence>
<xs:element name="cost" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="tns:objectId" minOccurs="0"/>
<xs:element name="idAppointment" type="xs:int"/>
<xs:element name="idPerson" type="xs:int"/>
<xs:element name="notes" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="tns:appointmentStatus" minOccurs="0"/>
<xs:element name="time" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="objectId">
<xs:sequence/>
</xs:complexType>

<xs:simpleType name="appointmentStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="COMPLETED"/>
<xs:enumeration value="ASSIGNED"/>
<xs:enumeration value="CANCELLED"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>